body
{
    overflow: scroll;
    overflow-x:hidden;
}
.container-fluid{
    overflow-x: hidden;
    width:100%;
}
.avatar
{
    vertical-align: middle;
    border-radius: 50%;
    width:75px;
    height:75px;
    margin-left:-1vw;
}
.navbar-nav
{
    font-size:25px;
    padding:2px;
    margin-left:48vw;
}
.nav-item a
{
    font-size:25px;
    padding:1.5rem !important;
    font-family:'Livvic',sans-serif;
}
.info
{
    margin-top:100px;
    font-family: 'Prociono', serif;
    font-size: 55px;
    text-align: center;
    color:white;
    letter-spacing: 4px;
    font-weight:bolder;
    letter-spacing:4px;
}
.info-name
{
    margin-top:10px;
    font-size:65px;
    text-align:center;
    color:#ff5d00;
    font-family: 'Acme', sans-serif;
    letter-spacing: 3px;
}
.profile-info
{
    font-size:40px;
    text-align:center;
    font-family: 'Livvic', sans-serif;
    color:#efddd8
}
.profile-about
{
    font-size:30px;
    text-align:center;
    font-family: 'Livvic',sans-serif;
    color:#ff5d00;
}
.btn-style
{
    border:2px solid #ff5d00;
    border-radius:5px;
    color:#ff5d00;
    text-align:center;
    font-family:'Livvic',sans-serif;
    font-size:25px;
    cursor: pointer;
    margin-bottom:25px;
}
.btn-style:hover
{
    color:#ff5d00;
}
#downloads
{
    text-decoration:none;
}
.skill-box
{
    width:100%;
    height:130%;
    border: 8px solid #ff5d00;
    box-sizing: border-box;
    margin-top:40px;
    overflow-x:hidden;
    overflow-y: hidden;
}
.skill
{
    text-align: center;
    font-size:60px;
    font-family:'Acme',sans-serif;
    letter-spacing:1pt;
    font-weight: bolder;
    color:#343a40;
}
.skill-boxes
{
    width:100%;
    height:100%;
}
.row
{
    margin-left:1vw;
}
.row-2
{
    margin-top:6vw;
}
.skill-box1
{
    border:6px solid #343a40;
    height:275px;
    width:275px;
}
.skill-box2
{
    border: 6px solid #343a40;
    width:275px;
    height:275px;
}
.skill-box3
{
    border:6px solid #343a40;
    width:275px;
    height:275px;
}
.skill-box4
{
    border:6px solid #343a40;
    width:275px;
    height:275px;
}
.skill-box5
{
    border:6px solid #343a40;
    width:275px;
    height:275px
}
.skill-box6
{
    border:6px solid #343a40;
    width:275px;
    height:275px;
}
.skill-box7
{
    border:6px solid #343a40;
    width:275px;
    height:275px;
}
.skill-box8
{
    border:6px solid #343a40;
    width:275px;
    height:275px;
}
.skill-img1
{
    width:110px;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.skill-img2
{
    width:110px;
    height:150px;
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
}
.skill-img3
{
    width:150px;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.skill-img4
{
    width:160px;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.skill-img5
{
    width:160px;
    height:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.skill-img6
{
    width:150px;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.skill-img7
{
    width:140px;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.skill-img8
{
    width:140px;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.skill-info
{
    text-align:center;
    font-size:35px;
    margin-top:30px;
    font-family:'Acme',sans-serif;
    color:#343a40;
}
.skill-info1
{
    text-align:center;
    font-size:35px;
    margin-top:80px;
    font-family:'Acme',sans-serif;
    color:#343a40;
}
.work
{
    font-size:60px;
    color:#343a40;
    text-align: center;
    font-family:'Livvic',sans-serif;
    font-weight: bolder;
}
.accordion1
{
    background-color:#ff5d00;
    color:#343a40;
    cursor: pointer;
    padding:7px;
    width:50%;
    margin-left:24vw;
    border:none;
    text-align:center;
    outline:none;
    font-size:35px;
    transition:.4s;
    font-family:'Acme',sans-serif;
}
.accordion1::after
{
    content:'\002B';
    color:#343a40;
    font-weight:bold;
    float:right;
}
.active::after
{
    content:'\2212';
    font-size:35px;
}
.panel
{
    padding:0 18px;
    background-color:#343a40;
    color:white;
    max-height:0;
    width:50%;
    margin-left:24vw;
    overflow:hidden;
    transition:max-height 0.2s ease-out; 
}
#work-text
{
    margin-top:10px;
}  
.project-link
{
    text-decoration:none;
}
.project-link:hover
{
    text-decoration:none;
}
#project-text
{
    color:white;
    font-size:22px;
    margin-left:20vw;
    text-decoration:none;
}
.accordion2
{
    background-color:#ff5d00;
    color:#343a40;
    cursor: pointer;
    padding:7px;
    width:50%;
    margin-top:10px;
    margin-left:24vw;
    border:none;
    text-align:center;
    outline:none;
    font-size:35px;
    transition:.4s;
    font-family:'Acme',sans-serif;
}
.accordion2::after
{
    content:'\002B';
    color:#343a40;
    font-weight: bold;
    float:right;
}
.active::after
{
    content:'\2212';
    font-size:35px;
}
.accordion3
{
    background-color:#ff5d00;
    color:#343a40;
    cursor: pointer;
    padding:7px;
    width:50%;
    margin-top:10px;
    margin-left:24vw;
    border:none;
    text-align:center;
    outline:none;
    font-size:35px;
    transition:.4s;
    font-family:'Acme',sans-serif;
}
.accordion3::after
{
    content:'\002B';
    color:#343a40;
    font-weight: bold;
    float:right;
} 
.active::after
{
    content:'\2212';
    font-size:35px;
}
.accordion4
{
    background-color:#ff5d00;
    color:#343a40;
    cursor: pointer;
    padding:7px;
    width:50%;
    margin-top:10px;
    margin-left:24vw;
    border:none;
    text-align:center;
    outline:none;
    font-size:35px;
    transition:.4s;
    font-family:'Acme',sans-serif;
}
.accordion4::after
{
    content:'\002B';
    color:#343a40;
    font-weight: bold;
    float:right;
} 
.active::after
{
    content:'\2212';
    font-size:35px;
}        
.contact-style
{
    font-size:50px;
    text-align:center;
    font-weight:bolder;
    color:#ff5d00;
    font-family:'Livvic',sans-serif;
    letter-spacing:2px;
    margin-left:2vw;
}
.mail-style
{
    font-size:50px;
    color:white;
    left:62%;
    position: relative;
}
.mail-info
{
    left:55%;
    width:30%;
    position: relative;
    margin-top:10px;
    font-size:30px;
    color:#ff5d00;
    font-family:'Acme',sans-serif;
}
.mail-name
{
    left:48%;
    width:40%;
    position: relative;
    margin-top:-15px;
    font-size:20px;
    color:#ff5d00;
    font-family:'Acme',sans-serif;
}
.phone-style
{
    left:139%;
    position: relative;
    font-size:50px;
    color:white;
    margin-left:00px;
    margin-top:-130px;
    width:30%;
    height:30%;
}
.phone-info
{
    left:132.5%;
    position: relative;
    margin-top:-75px;
    width:30%;
    font-size:30px;
    color:#ff5d00;
    font-family:'Acme',sans-serif;
}
.phone-no
{
    left:127%;
    position: relative;
    width:50%;
    margin-top:-17px;
    font-size:20px;
    color:#ff5d00;
    font-family:'Acme',sans-serif;
}
.linkedin-logo
{
    font-size:50px;
    color:white;
    left:85%;
    position: relative;
}
.github-logo
{
    font-size:50px;
    color:white;
    left:105%;
    position: relative;
}
.facebook-logo
{
    font-size:50px;
    color:white;
    left:135%;
    position: relative;
}
.portal-made
{
    color:white;
    font-size:25px;
    margin-left:33vw;
    margin-top:20px;
    font-family:'Acme',sans-serif;
    letter-spacing:3pt;
}
.heart-style
{
    color:#f42c18;
}
@media screen and (max-width:360px)
{
    .container-fluid
    {
        overflow-y:hidden;
    }
    .avatar
    {
        margin-left:-5vw;
        margin-top:5px;
        width:55px;
        height:55px;
    }
    .navbar-toggler-icon
    {
        font-size:15px;
    }
    .navbar-nav
    {
        font-size:20px;
        margin-left:30vw;
    }
    .nav-item a
    {
        font-size:20px;
        padding:0.5rem !important;
    }
    .info
    {
        width:100%;
        font-size:28px;
        text-align:justify;
        margin-top:35px;
    }
    .info-name
    {
        width:100%;
        font-size:35px;
        text-align:left;
        margin-top:15px;
    }
    .profile-info
    {
        font-size: 18px;
        text-align:left;
    }
    .profile-about
    {
        font-size: 18px;
        text-align:left;
    }
    .btn-style
    {
        width:60%;
        height:8%;
        margin-top:10px;
        border-color:#ff5d00;
        text-decoration:none;
        -webkit-tap-highlight-color: transparent;
    }
    #downloads
    {
        font-size:19px;
        width:100%;
        
    }
    .skill
    {
        font-size:40px;
        letter-spacing:1pt;
    }
    .skill-box
    {
        height:145%;
    }
    .skill-box1
    {
        height:140px;
        width:140px;
        margin-left:-1vw;
    }
    .skill-box2
    {
        height:140px;
        width:140px;
        margin-left:-2vw;
    }
    .skill-box3
    {
        height:140px;
        width:140px;
        margin-top:40px;
        margin-left:-1vw;
    }
    .skill-box4
    {
        height:140px;
        width:140px;
        margin-top:40px;
        margin-left:-2vw;
    }
    .skill-box5
    {
        height:140px;
        width:140px;
        margin-top:20px;
        margin-left:-1vw;
    }
    .skill-box6
    {
        height:140px;
        width:140px;
        margin-top:20px;
        margin-left:-2vw;
    }
    .skill-box7
    {
        height:140px;
        width:140px;
        margin-top:40px;
        margin-left:-1vw;
    }
    .skill-box8
    {
        height:140px;
        width:140px;
        margin-top:40px;
        margin-left:-2vw;
    }
    .skill-img1
    {
        width:60px;
        height:80px;
    }
    .skill-img2
    {
        width:60px;
        height:80px;
    }
    .skill-img3
    {
        width:80px;
        height:80px;
    }
    .skill-img4
    {
        width:80px;
        height:80px;
    }
    .skill-img5
    {
        width: 100px;
        height:70px;
    }
    .skill-img6
    {
        width:100px;
        height:80px;
    }
    .skill-img7
    {
        width:80px;
        height:80px;
    }
    .skill-img8
    {
        width:80px;
        height:80px;
    }
    .skill-info
    {
        font-size:25px;
        margin-top:10px;
    }
    .skill-info1
    {
        font-size:25px;
        margin-top:19px;
    }
    .work
    {
        font-size:40px;
    }
    .accordion1
    {
        width:90%;
        height:10%;
        margin-left:4.3vw;
        font-size:22px;
    }
    .active::after
    {
        content:'\2212';
        font-size:22px;
    }
    .panel
    {
        padding:0 18px;
        width:90%;
        margin-left:4.3vw;
    }
    #work-text
    {
        margin-top:10px;
        font-size:10px;
    } 
    #project-text
    {
        font-size:15px;
        margin-left:27vw;
    }
    .accordion2
    {
        width:90%;
        height:10%;
        margin-left:4.3vw;
        font-size:22px;
    }
    .active::after
    {
        content:'\2212';
        font-size:22px;
    }
    .accordion3
    {
        width:90%;
        height:10%;
        margin-left:4.3vw;
        font-size:22px;
    }
    .active::after
    {
        content:'\2212';
        font-size:22px;
    }
    .accordion4
    {
        width:90%;
        height:10%;
        margin-left:4.3vw;
        font-size:22px;
    }
    .active::after
    {
        content:'\2212';
        font-size:22px;
    }
    .contact-style
    {
        font-size:40px;
        margin-top:-30px;
    }
    .mail-style
    {
        left:37%;
        font-size:45px;
        position: relative;
    }
    .mail-info
    {
        font-size:25px;
        width:50%;
        left:26%;
        position: relative;
    }
    .mail-name
    {
        font-size:20px;
        width:90%;
        left:7%;
        position: relative;
    }
    .phone-style
    {
        left:40%;
        margin-top:50px;
        font-size:40px;
        position: relative;  
    }
    .phone-info
    {
        left:29%;
        position: relative;
        margin-top:5px;
        width:60%;
        font-size:25px;
    }
    .phone-no
    {
        left:10.5%;
        position: relative;
        margin-top:-15px;
        width:100%;
        font-size:20px;
    }
    .linkedin-logo
    {
        font-size:30px;
        left:-10%;
        position: relative;
    }
    .github-logo
    {
        font-size:30px;
        left:-16%;
        position: relative;
    }
    .facebook-logo
    {
        font-size:30px;
        left:65%;
        top:-45%;
        position: relative;
    }
    .portal-made
    {
        font-size:17px;
        width:100%;
        margin-left:3vw;
        margin-top:-140px;
        letter-spacing:1.5pt;
        white-space: nowrap;
    }
}